/* Overskrive standard CSS 

*/

button {

  border: none;
}

/* Fargerike ord 

*/

.bg-green {

  background-color: rgb(168, 236, 168);
}

.text-green {

  color: rgb(155, 235, 155);
}

/* 
Ord for størrelse 
*/

.text-large {

  font-size: large;
}


.padding-medium {

  padding: 1rem;
}

.rounded {

  border-radius: 8px;
}

/*  Ord for form

*/

.raised {

  box-shadow: 1px 1px 8px 4px rgb(22, 22, 22);
  inset: 1px 4px 1px white;
}